@model EmployeeCostVM

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">

        <h2 class="panel-title">Bekleyen Harcamalar</h2>
    </header>
    <div class="panel-body">

        <table class="table table-bordered table-striped mb-none" id="datatable-editable">
            <thead>
                <tr>
                    <th>Ad Soyad</th>
                    <th>Tutar</th>
                    <th>Talep Tarihi</th>
                    @*<th>Dosya</th>*@
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Costs)
                {
                    <tr class="gradeA">
                        <td>@Model.EmployeeFullName</td>
                        <td>@item.Amount ₺</td>
                        <td>@item.RequestDate.ToShortDateString()</td>
                        @*<td>@item.CostFilePath</td>*@
                        <td class="actions">
                            <form asp-action="CostCheck" method="post">
                                <button asp-action="CostCheck" method="post" asp-route-id="@item.Id" id="position-4-success" type="submit" class="mt-sm mb-sm btn btn-success">Onayla</button>
                            </form>
                            <form asp-action="CostCheckRed" method="post">
                            <button asp-action="CostCheckRed" method="post" asp-route-id="@item.Id" id="position-4-error" type="submit" class="mt-sm mb-sm btn btn-danger">Reddet</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->
