@using HRMVCProjectEntities.Concrete.Enums
@model IEnumerable<HRMVCProjectEntities.Concrete.AdvancePayment>

@{
    ViewData["Title"] = "Avans Listesi";
    Layout = "_LayoutForEmployee";
}
@*<header class="page-header">
    <h2>Avans Listesi</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Avans</span></li>
            <li><span>Avans Listesi</span></li>
        </ol>
    </div>
</header>*@


@*
<table class="table bold-olsun">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyState)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount) ₺
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyDate)
                </td>
                <td>
                    @{
                        if (item.ReplyState == ReplyState.Onaylandı)
                        {
                            <span>&#128994</span>
                        }
                        if (item.ReplyState == ReplyState.OnaylanMAdı)
                        {
                            <span>&#128308;</span>
                        }
                        if (item.ReplyState == ReplyState.Beklemede)
                        {
                            <span>&#128993;</span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>*@
<!-- start: page -->
<section class="panel bold-olsun">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">Avans Listesi </h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Açıklama</th>
                    <th>Tutar</th>
                    <th>Talep Tarihi</th>
                    <th>Onay Durumu</th>
                    <th>Cevap Tarihi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeA">
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount) ₺</td>
                        <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>                    
                        <td>
                            @{
                                if (item.ReplyState == ReplyState.Onaylandı)
                                {
                                    <span>&#128994</span>
                                }
                                if (item.ReplyState == ReplyState.OnaylanMAdı)
                                {
                                    <span>&#128308;</span>
                                }
                                if (item.ReplyState == ReplyState.Beklemede)
                                {
                                    <span>&#128993;</span>
                                }
                            }
                        </td>
                         <td>
                                @if(item.ReplyState == ReplyState.Onaylandı || item.ReplyState == ReplyState.OnaylanMAdı)
                                {
                                    @Html.DisplayFor(modelItem => item.ReplyDate)
                                }
                                else
                                {
                                    <h5>Cevaplanmadı</h5>
                                }
                         </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<!-- end: page -->
<div>
    <p><span>&#128994</span> : Avans talebi onaylandı</p>
    <p><span>&#128993</span> : Avans talebi beklemede</p>
    <p><span>&#128308</span> : Avans talebi onaylanmadı</p>
</div>
