@model IEnumerable<HRMVCProjectEntities.Concrete.Permission>

@{
    ViewData["Title"] = "İzin Listesi";
}

<h2>İzin Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdressToGo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdressToGo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermissionType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
